<section class="rows about-banner-wrap">
  <div class="about-banner">
    <img src="assets/img/add-defaulter-banner.jpg" />
  </div>
</section>
<section class="rows about-content-wrap">
  <div class="inner-heading">Add defaulter</div>
  <div class="container">
    <div class="about-content content text-left">
      <div class="main-subheading2 mt-0">Add defaulters, expose them all over India</div>
      <p>Adding a defaulter is very easy and completely free for CreditQ registered members. By adding a
        defaulter, MSMEs not only help themselves but also make sure that other MSMEs do not fall prey
        to the defaulter. The Defaulters will be exposed all over India as the Credit Information Report
        and defaulters list will be available to all the members across India.</p>
      <div class="main-subheading2">Who can add a defaulter?</div>
      <p>Businesses or MSMEs who have a valid GST registration number and who have already registered
        as members on CreditQ portal or app. Only registered members of CreditQ can add a defaulter
        thus making it 100% genuine and 100% checked and verified so that members can be rest
        assured that the defaulter list and info on the portal and CreditQ app is verified and genuine. </p>
      <div class="main-subheading2">How to add a defaulter?</div>
      <p>Adding a defaulter is easy. It is completely FREE as well for the registered members. The
        registered members need to fill in all the required fields on the portal on the Add member section
        of the CreditQ portal and its done. </p>
      <div class="main-subheading2">What information is needed to add a defaulter?</div>
      <p>Vital information required to add some business as defaulter includes submission of the ledger of
        the defaulter party, a certificate by the chartered accountant (CA) with UDIN number and other
        required information. CreditQ team analyses all the submissions and once it is check by the
        experts, the information is updated on the defaulters list on the web portal and CreditQ app. </p>
      <div class="main-subheading2">How are defaulters verified?</div>
      <p>CreditQ takes special care that genuine businesses are not listed as defaulter accidently. CreditQ
        follows standard procedure and makes sure that the name of the defaulter is checked and verified
        before it is added to the list of the defaulters on the CreditQ portal and app. Every reasonable
        precaution is taken to make sure that defaulters list is foolproof and remains always updated. </p>
    </div>
  </div>
</section>