<section class="rows main-sec">
  <app-side-menu></app-side-menu>
  <div class="content-wrapper">
    <div class="main-heading">Defaulter Settlement History</div>
    <div class="upload-defaulter-sec">
      <div class="white-box">
        <form class="custom-form">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <div class="pos-rel">
                  <input type="text" [(ngModel)]="postData.gst_no" name="gst_no" class="form-control search-field"
                    placeholder="Search by GST number">
                  <span class="search-icon"><img src="assets/img/search.svg" /></span>
                </div>
              </div>
              <div class="col-md-6 no-padding-l">
                <button class="blue-btn text-capitalize" *ngIf="!isSearch" (click)="searchList()">Search</button>
                &nbsp; <button *ngIf="isSearch" class="transparent-btn defaulter-btn text-capitalize"
                  (click)="resetSearch()" style="max-width: 136px;">Reset</button>
              </div>
            </div>
          </div>
        </form>
        <div class="defaulter-table-sec table-responsive">
          <table cellspacing="0" cellpadding="0" border="0" width="100%" class="defaulter-table">
            <thead>
              <tr>
                <th>GST Number</th>
                <th>Trade Name</th>
                <th>Due Date</th>
                <th>Due Amount</th>
                <th>Settled Date</th>
                <th>Settled Amount</th>
                <th>Write Off</th>
                <!-- <th>Status</th> -->
              </tr>
            </thead>
            <tbody>
              <ng-template ngFor let-item [ngForOf]="listData" let-i="index">
                <tr>
                  <td data-title="GST Number"><a class="blue-text" href="javascript:void" (click)="viewDetail(item.id)"> {{item.gst_no}}</a></td>
                  <td data-title="Status" class="text-capitalize">{{item.trade_name}}</td>
                  <td data-title="Due Date">{{dateFormatService.momentDateFormat(item.payment_due_date)}}</td>
                  <td data-title="Due Amount"><i class="fas fa-rupee-sign"></i>{{item.payment_due_amount}} </td>
                  <td data-title="Due Amount">{{dateFormatService.momentDateFormat(item.settlement_date)}}</td>
                  <td data-title="Due Amount"><i class="fas fa-rupee-sign"></i>{{item.settlement_amount}} </td>
                  <td data-title="Write Off" *ngIf="(item.payment_due_amount-item.settlement_amount) > 0"><i class="fas fa-rupee-sign"></i>{{item.payment_due_amount-item.settlement_amount}} </td>
                  <td data-title="Write Off" *ngIf="!(item.payment_due_amount-item.settlement_amount) > 0">-</td>
                  <!-- <td data-title="Status" class="text-capitalize">{{item.settlement_finish}}</td> -->
                </tr>
              </ng-template>
              <ng-container *ngIf="listData.length==0">
                <tr>
                  <td colspan="7">
                    <app-no-record></app-no-record>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>