<section class="rows app-url-wrap">
  <div class="container">
    <div class="main-heading text-center">Download App</div>
    <div class="content">
      <p>Someone has invited you to download and register CreditQ app for you business. Use below links to
        download the app. We will notify him once you register.</p>
    </div>
    <div class="text-center app-store-block">
      <a href="javascript:void(0);"><img src="assets/img/google-play-icon.png" /></a>
      <a href="javascript:void(0);"><img src="assets/img/app-store-icon.png" /></a>
      <a href="javascript:void(0);" (click)="openRegistration()" data-toggle="modal" data-target="#registerModal"><img
          src="assets/img/creditQ-icon.png" /></a>
    </div>
  </div>
</section>