<section class="rows app-url-wrap">
  <div class="container">
    <div class="main-heading text-center">Download App</div>
    <div class="content">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="text-center app-store-block">
      <a href="javascript:void(0);"><img src="assets/img/google-play-icon.png" /></a>
      <a href="javascript:void(0);"><img src="assets/img/app-store-icon.png" /></a>
    </div>
  </div>
</section>