<!-- <app-support-form></app-support-form> -->
<section class="rows about-banner-wrap solution-banner-wrap">
  <div class="about-banner">
    <img src="assets/img/solution-banner.jpg" />
  </div>
</section>
<section class="rows what-we-offer-wrap">
  <div class="inner-heading">What we offer?</div>
  <div class="container">
    <div class="what-offer-content">
      <div class="content text-left">
        <div class="main-subheading">CreditQ - Aapke Financial Problems ka Elixir</div>
        <div class="main-subheading2">CreditQ Gives You Complete Peace of Mind</div>
        <p>CreditQ provides you complete peace of mind in business dealings with the help of its innovative
          solutions which includes adding defaulters, identification of defaulters, payment settlement, and
          credit information reporting . It informs, educates and warns businessmen from defaulters, it also
          helps them settle payments. </p>
        <div class="main-subheading2">Credit Reporting solutions are handy</div>
        <p>With the help of its special credit information report, MSME business owners are able to check
          the credit information of their prospective clients which helps them take decision on whether to
          engage into business or not. If the client is found to be on the defaulter list on CreditQ, the
          businessmen can avoid dealing with the client. </p>
        <div class="main-subheading2">Aapka Saathi Hamesha Always Anywhere Anytime</div>
        <p>CreditQ will be there with you from start to beginning. Right from your research about a business
          or client to the removal of any defaulter. We have developed a unique portal and have also
          launched an innovative app to help you and be available to you always anywhere anytime. </p>
        <div class="main-subheading2">Report defaulters, expose them all over India</div>
        <p>Adding a defaulter is very easy and completely free for CreditQ registered members. By adding a
          defaulter, MSMEs not only help themselves but also make sure that other MSMEs do not fall prey
          to the defaulter. The Defaulters will be exposed all over India as the credit Information Report
          and defaulters list will be available to all the members across India.</p>
      </div>
    </div>
  </div>
</section>
<section class="rows services-offered-wrap">
  <div class="container">
    <div class="services-offered-sec">
      <div class="main-heading text-center">Services offered</div>
      <ul>
        <li>
          <a href="#sl_membership">
            <div class="service-box">
              <img src="assets/img/services-offered-img1.jpg" />
              <div class="service-position">
                <div class="service-icon">
                  <img src="assets/img/membership-icon.png" />
                </div>
              </div>
            </div>
            <div class="service-title">Membership</div>
          </a>
        </li>
        <li>
          <a href="#sl_add_defaulter">
            <div class="service-box">
              <img src="assets/img/services-offered-img2.jpg" />
              <div class="service-position">
                <div class="service-icon">
                  <img src="assets/img/add-defaulter-icon.png" />
                </div>
              </div>
            </div>
            <div class="service-title">Add Defaulter</div>
          </a>
        </li>
        <li>
          <a href="#sl_settle_payment">
            <div class="service-box">
              <img src="assets/img/services-offered-img4.jpg" />
              <div class="service-position">
                <div class="service-icon">
                  <img src="assets/img/settle-payment-icon.png" />
                </div>
              </div>
            </div>
            <div class="service-title">Settle Payment</div>
          </a>
        </li>
        <li>
          <a href="#sl_credit_report">
            <div class="service-box">
              <img src="assets/img/services-offered-img3.jpg" />
              <div class="service-position">
                <div class="service-icon">
                  <img src="assets/img/credit-report-icon.png" />
                </div>
              </div>
            </div>
            <div class="service-title">Credit Report</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="rows solutions-wrap">
  <div class="container">
    <div class="solutions-sec">
      <div class="main-heading text-center">Solutions</div>
      <div id="sl_membership" class="solution-box display-flex align-center">
        <div class="solution-left">
          <img src="assets/img/membership-solution2.jpg" />
        </div>
        <div class="solution-right">
          <div class="solution-heading">Membership</div>
          <div class="content">
            <p>Join CreditQ as member and stay ahead of others. By joining CreditQ as a member you not only
              save a lot of money but you also cut down your debts and other hassles. Its like you make
              completely fair business dealings as you do not deal with defaulters. </p>
            <p>Business these days is scary for some. The bad people in business have made it a nightmare
              specially for MSMEs who are largely less informed and being new in the business, end up in the
              trap of defaulters. </p>
            <div class="main-subheading2">What are the benefits of becoming a CreditQ member?</div>
            <div class="font-14 fw-600">CreditQ gives an insight into the reputation of the client</div>
            <p>Becoming a CreditQ member has a lot of advantages. First, it provides you complete information
              on the prospective client and helps you identify if the client has defaulted on payments before
              and will it be feasible or safe to do a business dealing with the said client.</p>
            <div class="font-14 fw-600">Scope for settlement of payment</div>
            <p>Next, once the defaulter name is added on the list of defaulters on CreditQ, the defaulter client
              might approach you and offer a settlement. You have the right to settle the payment dispute and
              ask for removal of the name of the client from the defaulters list. </p>
            <div class="font-14 fw-600">Do business in the market fearlessly</div>
            <p>CreditQ helps you take informed decision about business dealing with new business or clients
              and thus helps protect you from any danger of default in payment or other hassles. It saves you
              from a lot of trouble.</p>
            <div class="main-subheadin2g">How I can join CreditQ?</div>
            <p>If you are MSME and has a valid GST number then you can fill the form on the CreditQ portal or
              the CreditQ app and join as a member by paying the membership fee. You need to enter your
              contact information, GST number, email address, company address and other information at the
              time of registration on CreditQ.</p>
            <div class="main-subheadin2g">How much is the membership fee?</div>
            <p>Joining CreditQ is easy, quick and it does not dig a hole in your pocket. By paying a minimal fee of
              Rs1000/- any Micro, Small & Medium Enterprises (MSME) which has a valid GST registration
              number can join. Once registered the members can add defaulters, and Credit Report of other
              clients or businesses and check whether the client or business they are about to make a deal with
              is on the list of defaulter or not.</p>
          </div>
        </div>
      </div>
      <div id="sl_add_defaulter" class="solution-box display-flex align-center reverse">
        <div class="solution-left">
          <img src="assets/img/add-defaulter-solution2.jpg" />
        </div>
        <div class="solution-right">
          <div class="solution-heading">Add defaulter</div>
          <div class="content">
            <div class="main-subheading2 mt-0">Add defaulters, expose them all over India</div>
            <p>Adding a defaulter is very easy and completely free for CreditQ registered members. By adding a
              defaulter, MSMEs not only help themselves but also make sure that other MSMEs do not fall prey
              to the defaulter. The Defaulters will be exposed all over India as the Credit Information Report
              and defaulters list will be available to all the members across India.</p>
            <div class="main-subheading2">Who can add a defaulter?</div>
            <p>Businesses or MSMEs who have a valid GST registration number and who have already registered
              as members on CreditQ portal or app. Only registered members of CreditQ can add a defaulter
              thus making it 100% genuine and 100% checked and verified so that members can be rest
              assured that the defaulter list and info on the portal and CreditQ app is verified and genuine. </p>
            <div class="main-subheading2">How to add a defaulter?</div>
            <p>Adding a defaulter is easy. It is completely FREE as well for the registered members. The
              registered members need to fill in all the required fields on the portal on the Add member section
              of the CreditQ portal and its done. </p>
            <div class="main-subheading2">What information is needed to add a defaulter?</div>
            <p>Vital information required to add some business as defaulter includes submission of the ledger of
              the defaulter party, a certificate by the chartered accountant (CA) with UDIN number and other
              required information. CreditQ team analyses all the submissions and once it is check by the
              experts, the information is updated on the defaulters list on the web portal and CreditQ app. </p>
            <div class="main-subheading2">How are defaulters verified?</div>
            <p>CreditQ takes special care that genuine businesses are not listed as defaulter accidently. CreditQ
              follows standard procedure and makes sure that the name of the defaulter is checked and verified
              before it is added to the list of the defaulters on the CreditQ portal and app. Every reasonable
              precaution is taken to make sure that defaulters list is foolproof and remains always updated. </p>
          </div>
        </div>
      </div>
      <div id="sl_settle_payment" class="solution-box display-flex align-center">
        <div class="solution-left">
          <img src="assets/img/settle-payment-solution2.jpg" />
        </div>
        <div class="solution-right">
          <div class="solution-heading">Settle Payment</div>
          <div class="content">
            <p>CreditQ lists defaulters identified and added by the registered members. However, if the
              concerned parties, the registered member and the defaulter agrees and settles the payment then
              the registered member could remove defaulter’s name from the list of defaulters on CreditQ. </p>
            <p>The payment settlement is strictly between the defaulter and the registered member and CreditQ
              does not in any way have any say in it. It is the sole discretion and will of the registered member
              to ask for removal of the defaulter name from the list. </p>
            <div class="main-subheading2">Payment Settlement Process</div>
            <p>The payment settlement process totally depends on both the parties and after the settlement, the
              member can report that settlement of payment has been done. Once the settlement has been
              done, the name of the business or client will not undergo further decrease in rating or ranking
              but once a defaulter has been reported, it will always remain on the list of defaulter. In other
              words, once the defaulter has been reported to have settled the dispute, its rating will not go
              down further unless it is reported to be defaulter by more businesses. </p>
            <div class="main-subheading2">Report settlement of dispute</div>
            <p>Both the concerned parties – the register member MSME and the defaulter can agree to settle
              their dispute over the payment and upon the settle of their dispute and payment by the defaulter,
              the registered member can at his/her own will report that the payment has been settled.
              Settlement will make only , if the registered member MSME owner wishes to settle dispute,
              he/she can do so at their own will.</p>
          </div>
        </div>
      </div>
      <div id="sl_credit_report" class="solution-box display-flex align-center reverse">
        <div class="solution-left">
          <img src="assets/img/credit-information-report-solution.jpg" />
        </div>
        <div class="solution-right">
          <div class="solution-heading mt-0">Credit Information Report</div>
          <div class="content">
            <p>CreditQis a platform where MSMEs and businesses enroll themselves and seek information about
              other businesses and clients before entering into a business deal. Being a dependable source of
              authentic information about companies and clients, business owners trust CreditQ and seek its
              help to make decisions before making any business deal with an altogether new business or client.</p>
            <div class="main-subheading2">CreditQ’s unique Credit Information Report </div>
            <p>Based on the information provided by its members as well as through valid and authentic official
              sources, CreditQ prepares credit report of businesses.Based on this credit report which highlights
              some vital information about the financial dealings, the members can take informed decision
              whether to deal with them or not. </p>
            <div class="main-subheading2">What are the Highlights of Credit Information Report by CreditQ?</div>
            <p>CreditQ presents a comprehensive Credit information report. There are many aspects highlighted
              in the report which are could be vital for the members in taking a decision about dealing with that
              business or client. </p>
            <div class="main-subheading2">The Credit Information Report Format</div>
            <p>The CreditQ Credit Report of the businesses and clients follows a specialized format. It has a
              unique Credit Information Reporting Diagram. The report also highlights the number of
              companies which have declared the business as defaulter. Besides, these, the report also
              highlights other information which is helpful to the members in making up their mind about
              dealing with the said business or client. </p>
            <div class="main-subheading2">What is the fee for the Credit Information Report?</div>
            <p>Credit Information Report is available at a fee which is too small compared to the extent of benefit
              it offers. A single credit report about a prospective client could save thousands or lakhs of rupees
              by informing that the said business or client has been a defaulter earlier and it was declared
              defaulter by so many businesses. Thus, there is no harm in paying a little fee. The charges/fee per
              report is Rs300. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>