<section class="rows about-banner-wrap">
  <div class="about-banner">
    <img src="assets/img/add-membership-banner.jpg" />
  </div>
</section>
<section class="rows about-content-wrap">
  <div class="inner-heading">Membership</div>
  <div class="container">
    <div class="about-content content text-left">
      <p>Join CreditQ as member and stay ahead of others. By joining CreditQ as a member you not only
        save a lot of money but you also cut down your debts and other hassles. Its like you make
        completely fair business dealings as you do not deal with defaulters. </p>
      <p>Business these days is scary for some. The bad people in business have made it a nightmare
        specially for MSMEs who are largely less informed and being new in the business, end up in the
        trap of defaulters. </p>
      <div class="main-subheading2">What are the benefits of becoming a CreditQ member?</div>
      <div class="font-14 fw-600">CreditQ gives an insight into the reputation of the client</div>
      <p>Becoming a CreditQ member has a lot of advantages. First, it provides you complete information
        on the prospective client and helps you identify if the client has defaulted on payments before
        and will it be feasible or safe to do a business dealing with the said client.</p>
      <div class="font-14 fw-600">Scope for settlement of payment</div>
      <p>Next, once the defaulter name is added on the list of defaulters on CreditQ, the defaulter client
        might approach you and offer a settlement. You have the right to settle the payment dispute and
        ask for removal of the name of the client from the defaulters list. </p>
      <div class="font-14 fw-600">Do business in the market fearlessly</div>
      <p>CreditQ helps you take informed decision about business dealing with new business or clients
        and thus helps protect you from any danger of default in payment or other hassles. It saves you
        from a lot of trouble.</p>
      <div class="main-subheading2">How I can join CreditQ?</div>
      <p>If you are MSME and has a valid GST number then you can fill the form on the CreditQ portal or
        the CreditQ app and join as a member by paying the membership fee. You need to enter your
        contact information, GST number, email address, company address and other information at the
        time of registration on CreditQ.</p>
      <div class="main-subheading2">How much is the membership fee?</div>
      <p>Joining CreditQ is easy, quick and it does not dig a hole in your pocket. By paying a minimal fee of
        Rs1000/- any Micro, Small &amp; Medium Enterprises (MSME) which has a valid GST registration
        number can join. Once registered the members can add defaulters, and Credit Report of other
        clients or businesses and check whether the client or business they are about to make a deal with
        is on the list of defaulter or not.</p>
    </div>
  </div>
</section>