<section class="rows about-banner-wrap">
  <div class="about-banner">
    <img src="assets/img/settle-payment-banner.jpg" />
  </div>
</section>
<section class="rows about-content-wrap">
  <div class="inner-heading">Settle Payment</div>
  <div class="container">
    <div class="about-content content text-left">
      <p>CreditQ lists defaulters identified and added by the registered members. However, if the
        concerned parties, the registered member and the defaulter agrees and settles the payment then
        the registered member could remove defaulter’s name from the list of defaulters on CreditQ. </p>
      <p>The payment settlement is strictly between the defaulter and the registered member and CreditQ
        does not in any way have any say in it. It is the sole discretion and will of the registered member
        to ask for removal of the defaulter name from the list. </p>
      <div class="main-subheading2">Payment Settlement Process</div>
      <p>The payment settlement process totally depends on both the parties and after the settlement, the
        member can report that settlement of payment has been done. Once the settlement has been
        done, the name of the business or client will not undergo further decrease in rating or ranking
        but once a defaulter has been reported, it will always remain on the list of defaulter. In other
        words, once the defaulter has been reported to have settled the dispute, its rating will not go
        down further unless it is reported to be defaulter by more businesses. </p>
      <div class="main-subheading2">Report settlement of dispute</div>
      <p>Both the concerned parties – the register member MSME and the defaulter can agree to settle
        their dispute over the payment and upon the settle of their dispute and payment by the defaulter,
        the registered member can at his/her own will report that the payment has been settled.
        Settlement will make only , if the registered member MSME owner wishes to settle dispute,
        he/she can do so at their own will.</p>
    </div>
  </div>
</section>