<!-- <div class="success-icon">
  <img src="assets/img/check-icon.png" />
</div>
<div class="modal-heading text-center">Payment Success</div>
<br />
<div class="modal-subheading text-center">Your payment and registration successful. <br />
  <a href="javascript:void(0);" class="blue-text" (click)="loginPopup()">Login to continue. </a></div>
<br />
<br />
<a href="javascript:void(0);" (click)="closePopup()" class="blue-btn full-width-btn">Okey</a> -->

<section class="rows block-wrap">
	<div class="container">
		<div class="white-box">
			<div class="icon">
				<img src="assets/img/success-icon.svg" />
			</div>
			<div class="main-heading text-center">Payment Success</div>
			<div class="content text-center">
				<p>Your payment process has been completed successfully.</p>
			</div>
			<div *ngIf="payment_type == 'membership'" class="content text-center">
				<p>Your registration process has been completed successfully, Please continue.</p>
			</div>
			<div *ngIf="payment_type == 'credit_score'" class="content text-center">
				<p>Your request for a credit information report has been sent to your registered email address, you can
					also check from the 'View Report Status' section.</p>
			</div>
			<div *ngIf="payment_type == 'membership'" class="text-center"><a href="javascript:void(0);"
					(click)="goTOHomeLogin()" class="blue-btn">Continue</a></div>
			<div *ngIf="payment_type == 'credit_score'" class="text-center"><a href="javascript:void(0);"
					(click)="goTODashbord()" class="blue-btn">Go to Home</a></div>
		</div>
	</div>
</section>