<section class="rows main-sec">
  <app-side-menu></app-side-menu>
  <div class="content-wrapper">
    <div class="main-heading">Change Password
    </div>
    <div class="upload-defaulter-sec">
      <div class="white-box">

        <form class="custom-form" name="changePasswordFrm" #changePasswordFrm="ngForm"
          (ngSubmit)="changePasswordFrm.form.valid && changePassword()" novalidate>
          <div class="row">
            <div class="col-lg-5 col-md-6">
              <div class="form-group active">
                <label>Current Password <span class="alert alert-error-message">*</span></label>
                <input type="password" name="txtCurrentPD" maxlength="50" #txtCurrentPD="ngModel"
                  [(ngModel)]="postData.old_password" class="form-control" placeholder="Enter current password"
                  required>
                <div *ngIf="txtCurrentPD.invalid && (txtCurrentPD.dirty || txtCurrentPD.touched)" class="alert alert-error-message">
                  <div *ngIf="txtCurrentPD.errors?.required">Current password is required</div>
                </div>
                <div *ngIf="oldPasswordDataError != ''" class="alert alert-error-message">{{oldPasswordDataError}}</div>
              </div>
              <div class="form-group active">
                <label>New Password<span class="alert alert-error-message">*</span></label>
                <input type="password" minlength="8" name="txtNewPD" [(ngModel)]="postData.new_password" class="form-control"
                  #txtNewPD="ngModel" placeholder="Enter new password" required>
                <div *ngIf="txtNewPD.invalid && (txtNewPD.dirty || txtNewPD.touched)" class="alert alert-error-message">
                  <div *ngIf="txtNewPD.errors?.required">New password is required</div>
                  <div *ngIf="txtNewPD.errors?.minlength">Password must be 8 characters long</div>
                </div>
              </div>
              <div class="form-group">
                <label>Confirm Password<span class="alert alert-error-message">*</span></label>
                <input type="password" minlength="8" name="txtConfirmPassword" [(ngModel)]="postData.confirm_password"
                  #txtConfirmPassword="ngModel" class="form-control" placeholder="Enter confirm password" required>
                <div *ngIf="txtConfirmPassword.invalid && (txtConfirmPassword.dirty || txtConfirmPassword.touched )"
                  class="alert alert-error-message">
                  <div *ngIf="txtConfirmPassword.errors?.required">Confirm password is required</div>
                  <div *ngIf="txtConfirmPassword.errors?.minlength">Password must be 8 characters long</div>
                </div>
                <div *ngIf="newPasswordDataError != ''" class="alert alert-error-message">{{newPasswordDataError}}</div>
              </div>
              <div class="">
                <button class="blue-btn" [disabled]='!changePasswordFrm.form.valid' type="submit">Submit</button>
                <a href="javascript:void(0);" (click)="cancel()" class="cf-transparent-btn">Cancel</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>