<!-- <app-support-form></app-support-form> -->
<section class="rows about-banner-wrap">
  <div class="about-banner">
    <img src="assets/img/about-banner.jpg" />
  </div>
</section>
<section class="rows about-content-wrap">
  <div class="inner-heading">About us</div>
  <div class="container">
    <div class="about-content content text-left">
      <div class="main-heading">CreditQ – Aapke Vyapaar Ka Chaukidaar</div>
      <p><strong>Let us take the example of SMB owner Mr. Kumar in order to understand what wonders CreditQ can bring to
          your business dealings</strong></p>
      <p>Small business owner Mr. Kumar’s food packaging startup supplies packaging material. Lately, Mr. Kumar was
        hired by a client which gave him a huge order. As promised Mr. Kumar supplied material on time and produced an
        invoice for payment. At first, the client delayed payment. Now, even after several reminders and finally even
        after a civil suit, Mr. Kumar still awaits payment. As the payment amount was stuck, not only Mr. Kumar’s is
        under huge debt, he has also lost his peace of mind in business.</p>
      <p><strong>So, what exactly went wrong in this deal? Was Mr. Kumar at fault anywhere?</strong></p>
      <p><strong>Is there anything Mr. Kumar must have done beforehand in order to avoid this situation?</strong></p>
      <p>Certainly not, Mr. Kumar did what was part of the deal, but it was due to the neglect by the client that his
        payment was stuck. However, Mr. Kumar was at indeed at fault as he did not survey or research well beforehand.
      </p>
      <div class="main-subheading">This is where CreditQ – The Vyapaar Ka Chaukidaar, comes into picture</div>
      <p>If you are making a business deal CreditQ gives you the complete picture about the client, its credit history
        and information about whether the client is a defaulter in payments in its dealings with other vendors. </p>
      <p>Its like giving businessmen a complete overview of their new client and helping them in making an informed
        decision about business dealing with the new client. </p>
      <p>If your prospective client is there in CreditQ’s database as a defaulter, beware of it, don’t deal with the
        client, and you might like to avoid facing what Mr. Kumar had to.</p>
      <div class="main-subheading2">CreditQ is like your virtual business assistant Aapka saathi hamesha</div>
      <p>It informs, educates and helps you take all the informed business decisions on whether to deal with your
        prospective client or not. CreditQ is a platform for MSMEs where they can check other businessmen and verify if
        they are cheater or not before doing any business with them. CreditQ is based on the B2B model and offers its
        services to businesses.</p>
      <div class="main-subheading">Still have questions about CreditQ here are the answers… <br />Is CreditQ Provide
        Credit Information Report , credit report credible?</div>
      <p>Yes, absolutely, as a platform for Credit Information Report, CreditQ is official and enlisted as Private
        Limited Company and is trusted by hundreds of MSMEs who have found it absolutely credible as it has helped them
        a lot and has saved them from a lot of trouble.</p>
      <div class="main-subheading2">Is CreditQ Credit Information Report transparent, unbiased?</div>
      <p>Yes, CreditQ report is based on the feedback and defaulter information added by its businesses. Thus, it is
        just like <strong>genuine business reviews by genuine businesses</strong> and you can trust the credit report
        fully.</p>
      <div class="main-subheading">For whom CreditQ is useful?</div>
      <p>CreditQ is ultimately useful for businessmen who deal with new clients on a regular basis. Businessmen can
        check credit information report of their prospective clients on the website or CreditQ app and take informed
        decisions about their business dealings. The best part is even a businessman sitting in Jaipur can check the
        credit report of a prospective client in Delhi. </p>
      <div class="main-heading">Words of encouragement by some of our esteemed members</div>
      <p>CreditQ has saved my business from a lot of problem. I was about to close a huge deal with a client but when I
        checked and cross referenced the client’s credit report on CreditQ, I found that it was a defaulter in payment
        to many vendors. I immediately cancelled the deal. Later, I found that the same client cheated one of the other
        vendors in my city.<br /> <span class="font-700">-- Dangiya Lifestyles- Sanjay Agarwal</span></p>
      <p>Many thanks to CreditQ for helping me get my payment. I added a defaulter and soon the defaulter approached me
        and settled the payment. <br /><span class="font-700">-- Kalra Steel Traders Bharatpur- Aashish Kalra</span></p>
      <p>CreditQ’s Credit Information Report is transparent, I am its members since its beta trial versions and it
        helped me to be cautious of the defaulters. I have checked names of many of the new clients to verify if they
        have a good credit report and they are not defaulters. Thanks, CreditQ. <br /><span class="font-700">-- Shri
          Kandelwal trading company
          - Rajkumar Nirawan</span></p>
    </div>
  </div>
</section>
<section class="rows our-team-wrap">
  <div class="container">
    <div class="main-heading text-center">Our Team</div>
    <div class="content">
      <p>CreditQ Team is a perfect combination of experts from business and finance departments. The
        team is the driving force behind the success of CreditQ in making the business world safer for
        businessmen by making them aware of the defaulter businesses and clients.</p>
    </div>
    <div class="our-team-sec">
      <ul>
        <li>
          <a href="javascript:void(0);" data-target="#MuktaMittalInfo" data-toggle="modal">
            <img src="assets/img/Mukta-Mittal.jpg" />
            <div class="ot-pos">
              <div class="ot-content">
                <div class="ot-heading">Mukta Mittal</div>
                <span class="blue-btn more-info-btn">Read More <img src="assets/img/white-arrow-right.svg" /></span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" data-target="#PranayMathurInfo" data-toggle="modal">
            <img src="assets/img/Pranay-mathur.jpg" />
            <div class="ot-pos">
              <div class="ot-content">
                <div class="ot-heading">Pranay Mathur</div>
                <span class="blue-btn more-info-btn">Read More <img src="assets/img/white-arrow-right.svg" /></span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" data-target="#DivyaGuptaInfo" data-toggle="modal">
            <img src="assets/img/divya-gupta.jpg" />
            <div class="ot-pos">
              <div class="ot-content">
                <div class="ot-heading">Divya Gupta</div>
                <span class="blue-btn more-info-btn">Read More <img src="assets/img/white-arrow-right.svg" /></span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" data-target="#AnjaliDharwalInfo" data-toggle="modal">
            <img src="assets/img/anjali-dharwal.jpg" />
            <div class="ot-pos">
              <div class="ot-content">
                <div class="ot-heading">Anjali Dharwal</div>
                <span class="blue-btn more-info-btn">Read More <img src="assets/img/white-arrow-right.svg" /></span>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="rows journey-company-wrap">
  <div class="container">
    <div class="main-heading text-center">Journey of our company</div>
    <div class="ceo-message-block">
      <div class="content">
        <p>Founded this year on May 20, 2019, CreditQ is the brainchild of Mukta Mittal who spearheads the Private
          Limited company with headquarters in Jaipur, Rajasthan. </p>
        <div class="journey-block">
          <div class="main-subheading2">CreditQ’s Inception</div>
          <p>Initially it was an idea that used to make Mukta constantly strive to come up with a solution to the woes
            of MSMEs who fall prey to habitual defaulters in the business world. </p>
          <div class="main-subheading2">Concept to Creation</div>
          <p>As Mukta hails from a business class family, she has seen the ups and down of business and closely
            observed how things turn weird for businessmen if clients fail to make the payment on time. As
            small business owners do not have large working capital they have to entirely rely on regular flow
            and if in unforeseen circumstances, capital is stuck then they end up in huge debt. </p>
          <p>In order to address this situation and protect MSMEs from such financial crisis, Mukta came up
            with the concept of CreditQ, a platform which informs, warns and protects them from defaulters. </p>
          <div class="main-subheading2">CreditQ’s Mission Vision</div>
          <p>CreditQ’s mission is to be the eyes and ear of all MSMEs and help them identify defaulters before they
            start doing business with them. </p>
          <div class="main-subheading2">The way ahead… Milestones to achieve </div>
          <p>Being the first Credit Information Reporting Company in India, CreditQ has set its goal to be the
            <strong>Vyapaar ka Chaukidaar</strong> for all MSMEs. It also sets its target of becoming the platform which
            business owners consult before making a deal with a businesses or clients. </p>
          <p>In the 1st month of its launch – CreditQ will target about 2,000 GST customers Jaipur.</p>
          <p>In the 3rd month – CreditQ will target about 17,000 GST holder in seven big divisions of Rajasthan viz.
            Kota, Ajmer, Jodhpur, Bikaner, Udaipur, Jaipur, Bharatpur/Alwar.</p>
          <p>During the sixth month of its launch – CreditQ will target about 1,17,000 GST holders in half of North
            India (UP, Delhi, Haryana, Punjab, Chandigarh, and others) </p>
          <p>By the end of year and before its first anniversary – CreditQ will target about 3,00,000 GST holders in
            North West India</p>
          <p>In two years, CreditQ hopes to cover around 10,00,000 GST users in rest of India.</p>
          <p>Later, CreditQ will add all the GST users on this platform.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="rows journey-company-wrap">
  <div class="container">
    <div class="main-heading white text-center">Journey of our company</div>
    <div class="ceo-message-block">
      <div class="display-flex align-center">
        <div class="ceo-img">
          <img src="assets/img/ceo-avatar-img.png" />
        </div>
        <div class="ceo-content">
          <div class="ceo-name">Bharat Mittal</div>
          <div class="post">CEO</div>
          <div class="ceo-message">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
              lacus vel facilisis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
              lacus vel facilisis.</p>
          </div>
          <div class="social-link">
            <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
            <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
            <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="rows getin-touch-wrap" style="display: none;">
  <div class="container">
    <div class="main-heading text-center">Get in touch</div>
    <form class="custom-form getin-touch-form" name="contactFrm" #contactFrm="ngForm"
      (ngSubmit)="contactFrm.form.valid && save(contactFrm)" novalidate>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" maxlength="100" name="txtName" id="txtName" class="form-control" placeholder="First name"
              (blur)="removeError()" #txtName="ngModel" [(ngModel)]="postData.first_name" required>
            <div *ngIf="txtName.invalid && (txtName.dirty || txtName.touched)" class="alert alert-error-message">
              <div *ngIf="txtName.errors?.required">
                First Name is required
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" maxlength="100" name="txtLastName" id="txtLastName" class="form-control"
              (blur)="removeError()" placeholder="Last name" #txtLastName="ngModel" [(ngModel)]="postData.last_name"
              required>
            <div *ngIf="txtLastName.invalid && (txtLastName.dirty || txtLastName.touched)"
              class="alert alert-error-message">
              <div *ngIf="txtLastName.errors?.required">
                Last Name is required
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" maxlength="10" name="txtContact" id="txtContact" class="form-control"
          placeholder="Contact number" #txtContact="ngModel" [(ngModel)]="postData.mobile" required
          (blur)="removeError()" (keypress)=_keyPress($event)>
        <div *ngIf="txtContact.invalid && (txtContact.dirty || txtContact.touched)" class="alert alert-error-message">
          <div *ngIf="txtContact.errors?.required">
            Mobile is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="email" maxlength="100" name="txtEmail" id="txtEmail" class="form-control" (blur)="removeError()"
          placeholder="Email address" #txtEmail="ngModel" [(ngModel)]="postData.email" required email>
        <div *ngIf="txtEmail.invalid && (txtEmail.dirty || txtEmail.touched)" class="alert alert-error-message">
          <div *ngIf="txtEmail.errors?.required">
            Email is required
          </div>
          <div *ngIf="txtEmail.errors?.email">
            Enter a valid email address
          </div>
        </div>
      </div>

      <div class="form-group">
        <textarea class="form-control" maxlength="500" name="txtIssue" id="txtIssue" placeholder="Enter your message"
          (blur)="removeError()" #txtIssue="ngModel" [(ngModel)]="postData.issues" required> </textarea>
        <div *ngIf="txtIssue.invalid && (txtIssue.dirty || txtIssue.touched)" class="alert alert-error-message">
          <div *ngIf="txtIssue.errors?.required">
            Message is required
          </div>
        </div>
      </div>


      <button class="blue-btn" [disabled]='!contactFrm.form.valid'>Send</button>
      <button class="white-transparent-btn" (click)="contactFrm.reset()">Reset</button>
    </form>
  </div>
</section>
<div class="modal fade content-modal" id="MuktaMittalInfo" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
          <div class="col-md-4">
            <img src="assets/img/Mukta-Mittal.jpg" />
          </div>
          <div class="col-md-8">
            <div class="main-subheading2 mt-0">Mukta Mittal -MBA in Finance / CEO</div>
            <div class="content">
              <p>Young, dynamic and versatile Mukta has a passion for creating awe. Being a master in business
                management from one of the top institutions of the country, Mukta spearheads CreditQ as chief
                executive officer. Her mission and vision are to help businessmen and businesswomen do
                business in the market fearlessly. Nurturing this vision, Mukta came up with the idea of creating
                a platform CreditQ where Micro, Small & Medium Enterprises owners can enroll themselves and
                check, verify whether the client they are about to deal with has a clean record. CreditQ is the result
                of Mukta’s insatiable urge to safeguard MSMEs. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade content-modal" id="PranayMathurInfo" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
          <div class="col-md-4">
            <img src="assets/img/Pranay-mathur.jpg" />
          </div>
          <div class="col-md-8">
            <div class="main-subheading2 mt-0">Pranay Mathur - BBA / COO</div>
            <div class="content">
              <p>Pranay heads CreditQ as Chief Operating Officer and manages critical departments. His business
                entrepreneurial skills have greatly benefitted CreditQ in becoming a portal for the people and by
                the people. Taking a positive and proactive approach towards everything, Pranay makes sure that
                CreditQ’s operations run smoothly so that it achieves its mission and vision. Hand in hand with
                other team members, Pranay also envisages CreditQ become the only portal helping businesses
                in India take informed business decisions. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade content-modal" id="DivyaGuptaInfo" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
          <div class="col-md-4">
            <img src="assets/img/divya-gupta.jpg" />
          </div>
          <div class="col-md-8">
            <div class="main-subheading2 mt-0">Divya Gupta - C.A / Business Analyst cum Chartered Accountant</div>
            <div class="content">
              <p>Divya is the one who handles the financial aspect of CreditQ. She handles key tasks related to
                business analysis and finance-accounts. Being a chartered accountant herself, Divya knows the
                ins and outs of the industry very well and thus her knowhow helps the team to build and maintain
                CreditQ which remains viable both for the team and the users. She oversees as her team keeps all
                the credit reports and other information on the portal and the app updated. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade content-modal" id="AnjaliDharwalInfo" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
          <div class="col-md-4">
            <img src="assets/img/anjali-dharwal.jpg" />
          </div>
          <div class="col-md-8">
            <div class="main-subheading2 mt-0">Anjali Dharwal - CTO cum Product Manager / MTech</div>
            <div class="content">
              <p>Anjali is the face of CreditQ, she is the product manager. She also handles the technical wing of
                CreditQ as Chief Technology Officer (CTO). Her energy drives the entire tech team so that the
                other team mates can work on building CreditQ as the unique platform in helping businessmen
                do business in the market fearlessly. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>