<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePopup()">
  <span aria-hidden="true">×</span>
</button>
<div class="display-flex">
  <div class="lm-left">
    <div class="login-logo">
      <img width="189" height="103" src="assets/img/login-screen-logo.png" alt="CreditQ" />
    </div>
  </div>
  <div class="lm-right">

    <ng-container *ngIf="!emailVerified && !otpVerified">
      <div class="form-heading margin_bottom20">Forgot Password</div>
      <div class="modal-subheading">Forgot your password? Don’t worry we will set it for you. Please enter your
        registered mobile/email to receive OTP</div>
      <form class="custom-form" name="fpFrm" #fpFrm="ngForm" (ngSubmit)="fpFrm.form.valid && save()" novalidate>
        <div class="form-group">
          <!-- <label>Email</label> -->
          <input type="email" maxlength="100" name="txtEmail" id="txtEmail" class="form-control"
            placeholder="Enter Email / Mobile No" #txtEmail="ngModel" (change)="changeValue()"
            [(ngModel)]="postData.mobile" required minlength="10">
          <div *ngIf="txtEmail.invalid && (txtEmail.dirty || txtEmail.touched)"
            class="alert alert-error-message margin_top20">
            <div *ngIf="txtEmail.errors?.required">Email / mobile is required</div>
            <div *ngIf="txtEmail.errors?.email">Enter a valid email address</div>
          </div>
          <div *ngIf="errorMsg" class="alert alert-error-message margin_top20">
            <div>
              {{errorMsg}}
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="blue-btn full-width-btn" [disabled]='!fpFrm.form.valid'>Submit</button>
        </div>
        <div class="text-center">
          <label class="no-margin-b"><a href="javascript:void(0);" (click)="openLogin()"
              class="transparent-btn full-width-btn">Back to <strong>login</strong></a></label>
        </div>
      </form>
    </ng-container>

    <ng-container *ngIf="emailVerified && !otpVerified">
      <div class="form-heading margin_bottom20">Verification</div>
      <div class="modal-subheading">Please enter OTP received on your mobile & email</div>
      <form class="custom-form" name="otpFrm" #otpFrm="ngForm" (ngSubmit)="otpFrm.form.valid && verifiedOTP()"
        novalidate>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <input type="email" maxlength="100" name="txtOTP" id="txtOTP" class="form-control"
                placeholder="Verification code" #txtOTP="ngModel" (change)="changeValue()" [(ngModel)]="postData.otp"
                required>
              <div *ngIf="txtOTP.invalid && (txtOTP.dirty || txtOTP.touched)" class="alert alert-error-message">
                <div *ngIf="txtOTP.errors?.required">
                  OTP is required
                </div>
              </div>
              <div *ngIf="errorOtpMsg" class="alert alert-error-message margin_top20">
                {{errorOtpMsg}}
              </div>

            </div>
          </div>
        </div>
        <div class="text-center margin_bottom40">
          <a href="javascript:void(0)" (click)="save(true)" class="fw-600">Resend</a>
          <div *ngIf="successOTPMsg" class="alert alert-success-message">
            {{successOTPMsg}}
          </div>
        </div>
        <button class="blue-btn full-width-btn" [disabled]='!otpFrm.form.valid'>Submit</button>
      </form>
    </ng-container>

    <ng-container *ngIf="emailVerified && otpVerified">
      <div class="form-heading margin_bottom20">Create New Password</div>
      <!-- <div class="modal-subheading">Please enter new password</div> -->
      <form class="custom-form" name="resetPasswordFrm" #resetPasswordFrm="ngForm"
        (ngSubmit)="resetPasswordFrm.form.valid && resetPassword()" novalidate>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label>New Password</label>
              <input type="password" minlength="8" maxlength="20" name="txtPassword" id="txtPassword"
                class="form-control" placeholder="Enter new password" #txtPassword="ngModel" (change)="changeValue()"
                [(ngModel)]="postData.password" required>
              <div *ngIf="txtPassword.invalid && (txtPassword.dirty || txtPassword.touched)"
                class="alert alert-error-message">
                <div *ngIf="txtPassword.errors?.required">Password is required</div>
                <div *ngIf="txtPassword.errors?.minlength">Password must be 8 characters long</div>
                <div *ngIf="txtPassword.errors?.maxlength">Password must not exceed 20 characters</div>
              </div>
            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <input type="password" minlength="8" maxlength="20" name="txtConfirmPassword" id="txtConfirmPassword"
                class="form-control" placeholder="Enter new password" #txtConfirmPassword="ngModel"
                (change)="changeValue()" [(ngModel)]="postData.confirm_password" required>
              <div *ngIf="txtConfirmPassword.invalid && (txtConfirmPassword.dirty || txtConfirmPassword.touched)"
                class="alert alert-error-message">
                <div *ngIf="txtConfirmPassword.errors?.required">Confirm password is required</div>
                <div *ngIf="txtConfirmPassword.errors?.minlength">Confirm password must be 8 characters long</div>
                <div *ngIf="txtConfirmPassword.errors?.maxlength">Confirm password must not exceed 20 characters.</div>
              </div>
              <div *ngIf="errorRPMsg != ''" class="alert alert-error-message margin_top20">
                <div>{{errorRPMsg}}</div>
              </div>
            </div>
          </div>
        </div>
        <button class="blue-btn full-width-btn" [disabled]='!resetPasswordFrm.form.valid'>Submit</button>
      </form>
    </ng-container>

  </div>
</div>